/* DETAILS */
.resto-cont {
  width: 1080px;
  margin: auto;
}
.detail-bordure {
  padding: 30px;
}
.reso-title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.veg-stat {
  color: green;
}
.veg {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  margin-right: 5px;
}
.address-id {
  margin-top: 7px;
  font-size: 18px;
  margin-bottom: 15px;
}
.clock {
  font-size: 30px;
  margin-top: 10px;
  margin-right: 5px;
}
.description1 {
  font-size: 18px;
  padding: 2px;
  line-height: 25px;
  width: 30%;
  margin-bottom: 5px;
  color: grey;
}
.contact {
  position: absolute;
  right: 60%;
}
.cont {
  position: absolute;
  right: 30%;
}
.column1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  line-height: 2;
}
.phone {
  color: grey;
}
.h3-detail {
  font-size: 25px;
}
.dess {
  width: 80%;
  line-height: 25px;
}
.carousel-details {
  width: 80%;
  margin-bottom: 40px;
}
.resto1 {
  margin-top: 10px;
  margin-right: 20px;
  height: 220px;
  width: 220px;
  border-radius: 10px;
}
.map {
  /* position: absolute;
    top: 18%;
    right: 5%; */
  margin-bottom: 40px;
  height: 400px;
  width: 850px;
}
.map1 {
  color: #ea4335;
  font-size: 25px;
}
.website {
  margin-right: 10px;
  font-weight: 700;
}
.post {
  background-color: lightgrey;

  padding: 15px;
  position: absolute;
  right: 4%;
  top: 30%;
}
.dollar {
  margin-right: 5px;
  margin-top: 7px;
}
.face {
  height: 30px;
  width: 30px;
  margin-left: 60px;
}

/* NEWSLETTER */
.mooz {
  width: 23%;
  margin-top: 40px;
  margin-left: 40px;
}
.input-news {
  width: 80%;
  height: 38px;

  margin-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.input-col {
  display: flex;
  flex-direction: column;
}
.button-news {
  color: white;
  background-color: #9069cd;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  outline: none;
}
.button-news:hover {
  cursor: pointer;
}
