/* SIGNUP */
.cow {
  width: 50.33%;
  height: 830px;
}
.signup-form {
  margin-left: 30px;
}
.cont {
  display: flex;
}
.input-user-pass {
  display: flex;
  flex-direction: row;
}
h3 {
  margin-top: 10px;
  font-size: 30px;
  color: #444444;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 35px;
}
.text-input {
  margin-right: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 35px;
  width: 380px;
  margin-bottom: 30px;
}
.email-input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.col {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 800;
  margin-bottom: 5px;
}
#open-select-label {
  margin-top: 20px;
  color: black;
}
.select {
  width: 300px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.deco-button {
  margin-right: 100px;
}
.city-input {
  margin-bottom: 10px;
}
.year-picker {
  margin-left: 60px;
  height: 33px;
}
.are {
  margin-left: 60px;
}
.conditions {
  margin-top: 15px;
  margin-bottom: 10px;
}
.agree {
  background-color: #7c4ec4;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.update {
  margin-top: 20px;
  margin-bottom: 20px;
}
.but-signup {
  background-color: #7c4ec4;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: row;
}
input[type="radio"].demo2 {
  display: none;
}
input[type="radio"].demo2 + label {
  padding: 0.5rem;
  font-size: 15px;
  border-radius: 0.3rem;
  color: lightgray;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
}
input[type="radio"].demo2.demoyes:hover + label {
  background-color: #7c4ec4;
}
input[type="radio"].demo2.demoyes:checked + label {
  background-color: #7c4ec4;
}

.check {
  margin-top: 18px;
}
.sell {
  font-size: 10px;
}
@media (max-width: 1280px) {
  .text-input {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .text-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  input {
    width: 200px;
  }
  .but-signup {
    margin-bottom: 20px;
    margin-right: 10px;
  }
  .conditions,
  .update {
    font-size: 14px;
  }
}
