/* Other rules */
body {
  font-family: "Nunito", sans-serif;
}
/* LOGIN */

.signup-container {
  display: flex;
  justify-content: center;
}
.signup-form {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 12px;
  color: #444444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-login {
  border-radius: 5px;
  margin-left: 43px;
  height: 40px;
  width: 200px;
  border: 2apx solid lightgray;
  margin-bottom: 30px;
}
.input-login:hover {
  border-color: #9069cd;
}
.button-login {
  color: white;
  height: 40px;
  width: 230px;
  border-radius: 5px;
  background-color: #9069cd;
  border: none;
  margin-bottom: 10px;
}
.but {
  display: flex;
  justify-content: center;
}
.title {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.title h3 {
  margin: 0 12px;
}

.line {
  border-top: 1px solid black;
  flex: 1;
}
.register {
  color: white;
  height: 40px;
  width: 230px;
  border-radius: 5px;
  background-color: black;
  border: none;
}
a {
  text-decoration: none;
  color: white;
}
.image {
  height: 870px;
  width: 680px;
  border-radius: 5px;
  object-fit: cover;
}
.logo {
  margin-top: 30px;
  height: 500px;
  width: 290px;
}

/* SIGNUP */
.cow {
  width: 50.33%;
  height: 830px;
}
.signup-form {
  margin-left: 30px;
}
.cont {
  display: flex;
}
.input-user-pass {
  display: flex;
  flex-direction: row;
}
h3 {
  margin-top: 10px;
  font-size: 30px;
  color: #444444;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 35px;
}
.text-input {
  margin-right: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 35px;
  width: 380px;
  margin-bottom: 30px;
}
.email-input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.col {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 800;
  margin-bottom: 5px;
}
#open-select-label {
  margin-top: 20px;
  color: black;
}
.select {
  width: 300px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.city-input {
  margin-bottom: 10px;
}
.year-picker {
  margin-left: 60px;
  height: 33px;
}
.are {
  margin-left: 60px;
}
.conditions {
  margin-top: 15px;
  margin-bottom: 10px;
}
.agree {
  background-color: #7c4ec4;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.update {
  margin-top: 20px;
  margin-bottom: 20px;
}
.but-signup {
  background-color: #7c4ec4;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: row;
}
input[type="radio"].demo2 {
  display: none;
}
input[type="radio"].demo2 + label {
  padding: 0.5rem;
  font-size: 15px;
  border-radius: 0.3rem;
  color: lightgray;
  border: 1px solid transparent;
  transition: all 0.15s ease-in-out;
}
input[type="radio"].demo2.demoyes:hover + label {
  background-color: #7c4ec4;
}
input[type="radio"].demo2.demoyes:checked + label {
  background-color: #7c4ec4;
}

.check {
  margin-top: 18px;
}
.sell {
  font-size: 10px;
}
/* HEADER */
body nav {
  position: sticky;
  top: 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0;
  margin: auto;
}

.header-container > div:first-child,
.header-logo {
  cursor: pointer;
}
.header-logo {
  height: 35px;
  margin-left: 10px;
}

.deco-button {
  background-color: #fff;
  color: #9069cd;
  margin-bottom: 15px;
}
.button-signup {
  margin-right: 20px;
}
.button-login-signup {
  background-color: #9069cd;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}
.header-button {
  height: 42px;
  width: 85px;
  border: 1px solid #9069cd;
  border-radius: 5px;

  font-size: 12px;
  outline: none;
}

.menu {
  color: black;
  margin-right: 4px;
}
.icon-header {
  color: #9069cd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sepa {
  border: 2px solid #9069cd;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0%;
  width: 100%;
  background-color: #9069cd;
}
.footer img {
  height: 40px;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.loader {
  margin: 120px auto;
  height: calc(120vh -200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* HOME */

.hero-img {
  height: 350px;
  width: 100%;
  background-image: fixed;
  /*  position: relative; */
  background-size: cover;
}
.input-search {
  position: absolute;
  top: 20%;
  right: 20%;
}
.carousel-status {
  display: none;
}
.vegan-title {
  position: absolute;
  top: 15%;
  right: 30%;
  color: white;
  font-size: 35px;
  font-weight: 700;
}
.search-bar {
  height: 40px;
  width: 800px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.bar {
  border: none;
  background-color: #9069cd;
  padding-right: 10px;
  height: 44px;
  cursor: pointer;
  border-radius: 7px;
  position: absolute;
  top: 1%;
  right: 0%;
  outline: none;
}
.search-i {
  color: white;
  font-size: 15px;
}
.resto {
  margin-top: 10px;
  margin-right: 20px;
  height: 220px;
  width: 300px;
  border-radius: 10px;
}
.rest-cont {
  width: 1280px;
  margin: auto;
}
.title-resto {
  margin-top: 5px;
  color: #4caf50;
  font-size: 18px;
  margin-bottom: 5px;
}
.desc-resto {
  flex-shrink: 1;
}
.insta {
  font-size: 25px;
  width: 200px;
  padding-bottom: 10px;
  border: 2px solid #fbba55;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 90px;
}
.text-insta {
  line-height: 2;
  text-align: center;
  color: black;
}
.logo-insta {
  height: 50px;
  margin-left: 60px;
}
.border-face {
  border: 2px solid blue;
}
.news {
  font-size: 18px;
  width: 400px;
  padding-bottom: 10px;
  border: 2px solid #9069cd;
  border-radius: 5px;
  margin-bottom: 10px;
}
.but-news {
  background-color: #9069cd;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 150px;
  color: white;
}
.address {
  color: lightgrey;
  margin-bottom: 5px;
}
.logo-veg {
  height: 20px;
}
.carousel-container {
  width: 100%;
}
.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.description {
  line-height: 1.6;
}
.carousel1 {
  outline: none;
  width: 100%;
}
.carousel-container:-webkit-scrollbar {
  display: none;
}
.h3-home {
  margin-top: 50px;
}
.control-arrow {
  display: none;
}

/* DETAILS */
.resto-cont {
  width: 1080px;
  margin: auto;
}
.detail-bordure {
  padding: 30px;
}
.reso-title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.veg-stat {
  color: green;
}
.veg {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  margin-right: 5px;
}
.address-id {
  margin-top: 7px;
  font-size: 18px;
  margin-bottom: 15px;
}
.clock {
  font-size: 30px;
  margin-top: 10px;
  margin-right: 5px;
}
.description1 {
  font-size: 18px;
  padding: 2px;
  line-height: 25px;
  width: 30%;
  margin-bottom: 5px;
  color: grey;
}
.contact {
  position: absolute;
  right: 60%;
}
.cont {
  position: absolute;
  right: 30%;
}
.column1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  line-height: 2;
}
.phone {
  color: grey;
}
.h3-detail {
  font-size: 25px;
}
.dess {
  width: 80%;
  line-height: 25px;
}
.carousel-details {
  width: 80%;
  margin-bottom: 40px;
}
.resto1 {
  margin-top: 10px;
  margin-right: 20px;
  height: 220px;
  width: 220px;
  border-radius: 10px;
}
.map {
  /* position: absolute;
  top: 18%;
  right: 5%; */
  margin-bottom: 40px;
  height: 400px;
  width: 850px;
}
.map1 {
  color: #ea4335;
  font-size: 25px;
}
.website {
  margin-right: 10px;
  font-weight: 700;
}
.post {
  background-color: lightgrey;

  padding: 15px;
  position: absolute;
  right: 4%;
  top: 30%;
}
.dollar {
  margin-right: 5px;
  margin-top: 7px;
}
.face {
  height: 30px;
  width: 30px;
  margin-left: 60px;
}

/* NEWSLETTER */
.mooz {
  width: 23%;
  margin-top: 40px;
  margin-left: 40px;
}
.input-news {
  width: 80%;
  height: 38px;

  margin-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.input-col {
  display: flex;
  flex-direction: column;
}
.button-news {
  color: white;
  background-color: #9069cd;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  outline: none;
}
.button-news:hover {
  cursor: pointer;
}

/* SEARCH PAGE */

.titre-search {
  text-align: center;
}
.title-search {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
  color: black;
}

.pic-sea {
  width: 200px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 5px;
}
.container-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 400px;
  width: 800px;
}

@media (max-width: 780px) {
  .header-container p {
    display: none;
  }
  .header-container .icon {
    display: none;
  }

  .carousel1 {
    width: 90%;
  }
  .search-bar {
    width: 400px;
  }
}

@media (max-width: 1280px) {
  /* .cow {
    display: none;
  } */
  .container-result {
    margin-left: 100px;
  }
  .text-input {
    display: flex;
    flex-direction: column;
  }
  input {
    width: 200px;
  }
  .map {
    margin-left: 40px;
    width: 600px;
  }
  .post {
    display: none;
  }
  .dess {
    width: 60%;
  }
  .h3-home {
    margin-left: 10px;
  }
  .vegan-title {
    font-size: 32px;
  }
  .search-bar {
    width: 600px;
  }
  .carousel1 {
    width: 80%;
    margin-left: 10px;
  }
  .carousel-details {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .container-result {
    display: flex;
    flex-direction: column;
    margin-left: none;
  }
  .text-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .vegan-title {
    font-size: 25px;
  }
  .search-bar {
    width: 300px;
  }
  .hero-img {
    width: 100%;
  }
  .but-signup {
    margin-bottom: 20px;
  }
  .conditions,
  .update {
    font-size: 14px;
  }
  #coww {
    display: none;
  }
  .dess {
    margin-left: 5px;
    width: 40%;
  }
  .map {
    margin-left: 40px;
    width: 400px;
  }
  .carousel1 {
    width: 300px;
  }
  .carousel-details {
    margin-left: 10px;
    width: 440px;
  }
  .contact {
    position: absolute;
    right: 2%;
  }
  .h3-detail {
    font-size: 15px;
  }
  .cont {
    position: absolute;
    right: 43%;
  }
  .insta,
  .text-insta,
  .news {
    display: none;
  }
  .footer img {
    margin-left: none;
  }
  .column1,
  .description1 {
    font-size: 15px;
    line-height: 1;
  }
}
